**
!Containerfile
!pyproject.toml
!uv.lock
!.python-version
!src/
!src/fractal_demo/
!src/fractal_demo/**
!deploy/
!deploy/helm/
!deploy/helm/fractal-demo/
!deploy/helm/fractal-demo/**
**/__pycache__/
**/*.pyc
**/*.pyo
